body{
    background-color:#B4D6D9;
}

header{
    display:flex;
    height:15vh;
    background-color: #FFF8D2;
    justify-content:space-between;
    align-items:center;
    border-radius:25px;
}


main{
    display:flex;
    align-items:center;
    flex-direction:column;
    /* border: solid red 5px; */
    height:85%;
    border: solid green 5px;
}

#logo{
    background-color: black;
    border-radius:50%;
    width:100px;
    height:100px;
    margin-left: 1vw;
}

#link{
    margin-right:3vw;;
}

#frontLogo{
    display:flex;
    /* border: solid black 5px; */
    margin-top:10vh;
    margin-bottom:3vh;
}

#buttons{
    display:flex;
    justify-content:space-around;
    /* border: solid red 5px; */
    width:30%;

}

.btn.btn-primary{
    background-color:#FFF8D2;
    color:#5C7173;
}

#ingredientsContainer{
    display:flex;
    flex-wrap:wrap;
    border: solid black 5px;
    width:70%;
    height:60%;
    justify-content:space-between;
    align-content:space-around;
}

.ingredient{
    display:flex;
    width:30%;
    border: solid red 5px;
    background-color:#FFF8D2;
    flex-direction:column;
    align-items:center;
    /* margin-right:2%; */
    
}

.ingImages{
    height:20vh;
    width:20vw;
}

#dish{
    border: solid red 5px;
    height:25vh;
    width:40%;
    justify-content:center;
}
#dish img{
    width:100%;
    height:100%;
}

#restContainer{
    border: solid black 5px;
    display:flex;
    flex-wrap: wrap;
    width:70%;
    height:auto;
    align-content:space-evenly;
    justify-content:space-around;
    /* align-items:space-around; */
}



.restaurant{
    display:flex;
    width:40%;
    /* border: solid red 5px; */
    background-color:#FFF8D2;
    flex-direction:column;
    align-items:center;
    text-align: justify;
    padding:5px;
}


@media(max-width: 600px) {
    body {
      background-color: lightblue;
    }

    #restContainer{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .restaurant{
        width: 100%;
        margin-bottom: 3vh;
    }
    
     #ingredientsContainer{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: space-between;
    }
    
    .ingredient{
        width: 100%;
        margin-bottom: 1.5vh;
        margin-top: 1.5vh;

    }



    #ingMain{
        align-self: flex-end;
        flex-direction: column;
        flex-wrap: nowrap;
        /* border: solid 1px black; */
    } 

    main, .ingredient, #ingredientsContainer{
        border: 0px;;
    }

    #dish{
        border: 0px;
    }

    #dish img{
        opacity: 0;
    }

  }